KvarnConfig (
    import: ["../kvarn.org/kvarn.org.ron", "../klimatgrupper/web/host.ron", "../other-hosts.ron", "./jellyfin.ron"],
    //  "../kvarn-upload/web/host.ron"
    extensions: {
        "base": [
            Templates,
            Http2Push (
                push_interval: 120,
                check_every_request: 8,
            ),
            ClientCache ({
                ".png": Changing,
                ".avif": Full,
                ".jpg": Full,
                ".ico": Full,
                ".woff": Full,
                ".woff2": Full,
                "/highlight.js/": Full,
            }),
            StreamBody(Or([EndsWith(".jpg"), EndsWith(".avif")])),
        ],
        "icelk": [
            AllDefaults,

            If (
                predicate: Exists("../ulogger"),
                extension: Php (
                    connection: "unix:///run/ulogger.sock",
                    capture_route: "/ulogger/",
                    working_directory: "../ulogger/",
                )
            ),
            Csp ({
                "/*": FromDefault ({ img_src: [ Uri ("https://kvarn.org") ] }),
                "/index.html": Inherit ("/", { script_src: [ UnsafeInline ] }),
                "/api/*": FromEmpty ({}),
                "/ip": Empty,
                "/ulogger/*": FromDefault ({
                    default_src: [
                        Uri ("https://maps.googleapis.com"),
                        Uri ("https://maps.gstatic.com")
                    ],
                    img_src: [
                        Uri("https://*.openstreetmap.org"),
                        Uri("https://maps.googleapis.com"),
                        Uri("https://maps.gstatic.com"),
                        Scheme("data:")
                    ],
                }),
                "/admin/*": FromDefault ({ default_src: [ UnsafeInline ] }),
                "/quizlet-learn/login.html": FromDefault ({ default_src: [ UnsafeInline ] }),
                "/articles/*": FromDefault ({
                    style_src: [
                        UnsafeInline,
                        Uri("https://fonts.googleapis.com"),
                        Uri("https://fonts.googleapis.com"),
                    ],
                    default_src: [ Uri("https://fonts.gstatic.com"), ],
                }),
            }),

            ReverseProxy (
                route: "/private-ical/",
                connection: "tcp://localhost:5232",
                timeout: 10,
                options: [
                    AddHeader("x-script-name", "/private-ical"),
                    StripIndexHtml (
                        index_html_name: "index.html"
                    ),
                    ForwardIp,
                ]
            ),
            Auth (
                credentials: SpaceSepparatedAccoutPerLine("quizlet-learn.passwd"),
                secret: "quizlet-learn.secret",
                auth_api_route: "/quizlet-learn/auth",
                unauthorized_route: "/quizlet-learn/login.",
                filter: StartsWith("/quizlet-learn/"),
            ),
            Auth (
                credentials: SpaceSepparatedAccoutPerLine("auth-test.passwd"),
                secret: "auth-test.secret",
                auth_api_route: "/admin/auth",
                unauthorized_route: "/admin/login.html",
                filter: StartsWith("/admin/"),
            ),

            ViewCounter (
                filter: StartsWith("/"),
                log_path: "../icelk-views",
                commit_interval: 3600,
                accept_same_ip_interval: 3600,
            ),
            Custom("Dns", ()),
            Custom("Ip", "/ip"),
            Custom("QuizletLearn", ()),
            Custom("WsPing", "/ws-ping"),
        ],
        "doc-icelk": [
            Csp ({ "/*": Empty }),
        ],
        "bitwarden": [
            ReverseProxy (
                route: "/",
                connection: "tcp://localhost:8000",
                options: [
                    ForwardIp,
                ],
            ),
            // Vaulwarden handles CORS for us, so we don't have to care
            Cors({
                "/*": ( origins: ["*"], methods: [ALL] )
            }),
            Link (StartsWith("/.well-known"), "/usr/share/webapps/vaultwarden-web"),
            // Disable CSP to let reverse proxy manage CSP
            CspEmpty,
        ]
    },
    hosts: [
        // consider changing these to `TryCertificatesOrUnencrypted` if you don't want to require certificates
        Plain (
            cert: "icelk-cert.pem",
            pk: "icelk-pk.pem",
            path: "./",
            extensions: ["base", "icelk"],
            name: Some("icelk.dev"),
            options: (
                disable_client_cache: true,
                disable_server_cache: true,
                hsts: true,
            ),
            addons: [
                SearchEngine (
                    api_route: "/search",
                    kind: Lossless,
                    ignore_paths: ["/rsync-ignore"],
                    response_hits_limit: 5,
                ),
                AutomaticCertificate (
                    contact: "mailto:main@icelk.dev",
                ),
            ],
        ),
        Plain (
            cert: "doc.icelk-cert.pem",
            pk: "doc.icelk-pk.pem",
            path: "./doc",
            extensions: ["base", "doc-icelk"],
            name: Some("doc.icelk.dev"),
            options: (
                disable_client_cache: true,
                disable_server_cache: true,
            ),
            addons: [
                AutomaticCertificate (
                    contact: "mailto:main@icelk.dev",
                ),
            ],
        ),
        Plain (
            cert: "bitwarden.icelk-cert.pem",
            pk: "bitwarden.icelk-pk.pem",
            path: "/usr/share/webapps/vaultwarden-web",
            extensions: ["base", "bitwarden"],
            name: Some("bitwarden.icelk.dev"),
            options: (
                disable_client_cache: true,
                disable_server_cache: true,
                public_data_directory: ".",
            ),
            addons: [
                AutomaticCertificate (
                    contact: "mailto:main@icelk.dev",
                ),
            ],
        ),
    ],
    ports: Standard(All),
)
