md {
    display: block;
    font-size: 125%;

    margin-left: auto;
    margin-right: auto;
    max-width: 75%;

    text-align: justify;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--bg-lighter);
    border-radius: 6px;

    margin-top: 0;
    margin-bottom: 16px;

    margin-left: auto;
    margin-right: auto;

    text-align: left;
    white-space: pre-wrap;

    max-width: 90%;
}
pre code {
    padding: 0;
    margin: 0;
    overflow: visible;
    font-size: 1rem;
    background: transparent;
}

md ul,
md ol {
    width: fit-content;
    text-align: left;
}
md.center ul,
md.center ol {
    margin-left: auto;
    margin-right: auto;
}

md h1 {
    border-bottom: 3px var(--bg-lighter) solid;
    padding-bottom: 0.2em;
}
md h2 {
    border-bottom: 2px var(--bg-lighter) solid;
    padding-bottom: 0.15em;
}
md h1,
md h2,
md h3,
md h4,
md h5,
md h6 {
    letter-spacing: 1px;
    text-align: left;
}

md hr {
    display: block;
    border: none;
    height: 3px;
    background-color: var(--bg-lighter);
}
md pre,
md p,
md blockquote {
    margin: 1.5rem 1rem;
}
md img {
    max-width: 75%;
    max-height: 80vh;
}

li {
    list-style-type: "-  ";
}
li p {
    display: inline-block;
    margin: 0;
}
li p:first-child:before {
    vertical-align: middle;
    list-style-type: initial;
    content: " ";
    background-color: white;
    height: 0.5em;
    width: 0.5em;
    display: inline-block;
    border-radius: 1em;

    margin: 3px 10.5px 3px 6px;
}
blockquote {
    padding: 0.25em 1em;
    border-left: 0.25em solid var(--bg-lighter);
    text-align: left;
    opacity: 0.8;
}
blockquote > p {
    margin: 0;
}
