h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.title {
  letter-spacing: 0.25em;
  font-size: 3em;
  display: inline-block;
  padding: 0.25em;
}
.title.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
  text-shadow: 0.05em 0.075em 0.075em var(--text-secondary);
  margin-left: 0.15em;
  margin-right: 0.15em;
}

.icon {
  width: 4em;
}
.icon.small {
  width: 2em;
}
.icon.inline {
  width: 1em;
  vertical-align: -0.15em;
}
.icon.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
}

.card {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5em;
  text-align: justify;
  max-width: 80%;
}
.card > p:first-child {
  margin-top: 0;
}
.card > p:last-child {
  margin-bottom: 0;
}
.card.wrap {
  white-space: pre-wrap;
}
.card.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
}

a:link {
  color: var(--text-secondary);
}
a:visited {
  color: var(--text-secondary);
}

/* Entire document */

:root
{
  font-family: "Raleway", sans-serif;
  text-align: justify;
}

body
{
  color: var(--text-primary);
  background-color: var(--bg-main);
  transition: var(--transition);
  margin: 0;
}

/* Select, input, button, and textarea */

select, input, button, textarea
{
  font-family: inherit;
  background-color: #dfdfdf;
  border-color: #7f7f7f;
  pointer-events: initial;
}

textarea
{
  border-width: 0.4em;
  border-radius: 1em;
  border-style: double;
  padding: 0.2em;
}

select, input, button
{
  border-width: 0.2em;
  border-radius: 0.4em;
  border-style: solid;
  padding: 0.1em;
}

/* Math */

math, .math
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

math.bracket
{
  font-size: 3em;
  font-weight: lighter;
}

/* Scripts, used on 'div' or 'span'. Defaults to both (use a <br/> to access) or sub, you can use sup to access the upper value */

.script
{
  display: inline-block;
  font-size: 0.8em;
  text-align: left;
  vertical-align: -0.5em;
  margin-bottom: -0.25em;
  line-height: 1em;
}

.script.sup
{
  vertical-align: 0.5em;
}

/* Overlay */

.overlay
{
  position: fixed;
  pointer-events: none;
  /* Please add pointer-events: initial; to the interactive elements */
  padding: 0.5em;
  z-index: 9001;
}

.overlay.top, .overlay.bottom
{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Works terribly */

.overlay.left, .overlay.right
{
  top: 50%;
  transform: translateY(-50.25%);
}

.overlay.top
{
  top: 0;
  bottom: inherit;
  transform: inherit;
}

.overlay.bottom
{
  top: inherit;
  bottom: 0;
  transform: inherit;
}

.overlay.left
{
  left: 0;
  right: inherit;
}

.overlay.right
{
  right: 0;
  left: inherit;
}

/* SVG animations */

.animatable
{
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
}

/* Scrollbar */

body::-webkit-scrollbar
{
  width: 0.25rem;
}

body::-webkit-scrollbar-track
{
  background: none;
}

body::-webkit-scrollbar-thumb
{
  background: var(--bg-secondary);
}

