/* Entire document */

:root
{
  text-align: justify;
  font-family: 'Recursive', sans-serif;
  font-weight: 350;
  font-variation-settings: 'CASL' 0.25, 'slnt' 0, 'CRSV' 1;
}

body
{
  color: var(--text-primary);
  background-color: var(--bg-main);
  transition: var(--transition);
  margin: 0;
  transition-property: background, color;
  transition-duration: var(--transition-speed);
  transition-timing-function: ease-in-out;

  background: linear-gradient(to right, var(--bg-main), var(--bg-primary));
  /* So the scrollbar track gets the right color */
  background-color: var(--bg-primary);
  --bg-head: linear-gradient(to left, var(--bg-primary), var(--bg-secondary));

  overflow-x: hidden;
}


/* Scrollbar */

body::-webkit-scrollbar
{
  width: 0.25rem;
}

body::-webkit-scrollbar-track
{
  background: none;
}

body::-webkit-scrollbar-thumb
{
  background: var(--bg-secondary);
}

/* General overrides */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Recursive', sans-serif;
  font-weight: 500;
  font-variation-settings: 'slnt' -2, 'CRSV' 1;
}
a:link {
  color: var(--text-secondary);
}
a:visited {
  color: var(--text-secondary);
}

/* Used in most project pages */
.title {
  letter-spacing: 0.25em;
  font-size: 3em;
  display: inline-block;
  padding: 0.25em;
}
.title.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
  text-shadow: 0.05em 0.075em 0.075em var(--text-secondary);
  margin-left: 0.15em;
  margin-right: 0.15em;
}

.icon {
  width: 4em;
}
.icon.small {
  width: 2em;
}
.icon.inline {
  width: 1em;
  vertical-align: -0.15em;
}
.icon.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
}

.card {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5em;
  text-align: justify;
  max-width: 80%;
}
.card > p:first-child {
  margin-top: 0;
}
.card > p:last-child {
  margin-bottom: 0;
}
.card.wrap {
  white-space: pre-wrap;
}
.card.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
}

/* Top navigation bar */
.top-bar {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
  background: var(--bg-head);

  /* So we can make it fixed if we want to */
  position: relative;
}
/* All links in top bar */
.top-bar a {
  color: inherit !important;
  text-decoration: none;
  transition: filter ease-out calc(var(--transition-speed) / 2);
  display: block;
  padding: 0 1em;
}
/* Dim item while hovering */
.top-bar a:hover {
  filter: brightness(0.7);
}

.top-bar .item {
  margin: 0 2px;
  line-height: var(--bar-height);

  float: left;
}
/* Change background when page is the one shown */
.top-bar .item.visiting {
  background-color: var(--bg-secondary);
  filter: contrast(1.25);
}

/* Circle to show theme */
.theme-circle::before {
  content: ' ';
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
  background-color: var(--bg-main);
  vertical-align: -15%;
}
/* Add margin (to the right) in the ::before sudo element */
.before-margin::before {
  margin-right: 1em;
}

/* If dropdown is hovered or has focus, show dropdown! */
.top-bar .has-dropdown:hover .dropdown, .top-bar .has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

/* Dropdown in top bar */
.top-bar .dropdown {
  width: max-content;
  max-width: 40em;
  position: absolute;
  z-index: 99;
  pointer-events: none;
  
  opacity: 0;
  transition: opacity var(--transition-speed) ease-out;
  border-radius: 0 0 8px 8px;
  border-top: 2px solid var(--text-secondary);
  box-shadow: 0px 2px 8px var(--subtle);
  background: var(--bg-secondary);
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  transform: translateX(calc(-50% + 2em));
}

@media only screen and (max-width: 40em) {
  .top-bar .dropdown .item {
    float: none;
    display: inline-block;
  }
  .top-bar .dropdown {
    left: 0;
    width: 100vw;
    transform: none;
  }
}
