/* 

# Colours
bg-darker // Darkest background. Should contrast a bit to bg-dark
bg-dark // Dark background
bg-light // A subtle color used for shadows
gb-lighter // Light background to contrast much with bg-dark*

text-normal // Normal text to contrast well with bg-*
text-color // Text with some color

# Variables
transition-speed // Speed all transitions are based on
bar-height // The height of the bar

*/

:root, .ice {
  --bg-darker: #030717;
  --bg-dark: #070C26;
  --bg-lighter: #2B2D42;
  
  --text-normal: #FFFFFA;
  --text-color: #A6CFD5;

  --transition-speed: 0.2s;
  --bar-height: 3em;
}
/* .sol
{
  --bg-darker: #f2f2f2;
  --bg-dark: #ffffff;
  --bg-lighter: #e4e4e4;

  --text-normal: #1f1f1f;
  --text-color: #000000;
} */
.sol
{
  --bg-darker: #feebca;
  --bg-dark: #fdf6e3;
  --bg-lighter: #ffeebe;
  
  --text-normal: #576e75;
  --text-color: #35535c;
}

@media (prefers-color-scheme: light)
{
  :root {
    content: "light";
  }
}
@media (prefers-color-scheme: dark)
{
  :root {
    content: "dark";
  }
}
