.ice {
  /* https://coolors.co/fffffa-2b2d42-070c26-01081c-a6cfd5 */
  --text-primary: #FFFFFA;
  --text-secondary: #A6CFD5;
  --bg-main: #01081C;
  --bg-primary: #070C26;
  --bg-secondary: #2B2D42;
  /* https://coolors.co/fffffa-2b2d42-070c26-7272a3-afafdb */
  --image-primary: #AFAFDB;
  --image-secondary: #7272A3;
  --transition-speed: 0.25s;

  --bar-height: 3em;
}
/* .sol
{
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-main: #f2f2f2;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --image-primary: #89E594;
  --image-secondary: #63C687;
  
  Border should be bg-primary if light theme
  --border: var(--bg-primary);
} */
.sol
{
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-main: #feebca;
  --bg-primary: #fdf6e3;
  --bg-secondary: #ffeebe;
  
  /* Border should be bg-primary if light theme */
  --border: var(--bg-primary);
}

@media (prefers-color-scheme: light)
{
  :root {
    content: "light";
  }
}
@media (prefers-color-scheme: dark)
{
  :root {
    content: "dark";
  }
}
