[md-imports]
<link rel="stylesheet" href="/md.css" />

[handwriting]
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter:400&display=block" />
<style>
    code {
        font-family: "Architects Daughter", cursive;
        font-weight: 400;
        color: #1c1c23;
        /*letter-spacing: 1px;*/
    }

    pre > code {
        white-space: pre-wrap;
    }

    md {
        --code: #fdf6e3;
    }

    pre {
        width: fit-content;
        overflow-x: hidden;
    }
</style>
