[head]
<!doctype HTML>
<html lang='en-GB'>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">

  [dependencies]
  <link href="/fonts/fonts.css" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='/theme.css'>
  <link rel='stylesheet' type='text/css' href='/style.css'>
  <script src='/script.js' defer></script>

  [close-head]
</head>

[top-bar]

<body class="ice">
  <div class="top-bar">
    <ul id="top-list" class="top-list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/kvarn/">Kvarn</a>
      </li>

      <li class="has-dropdown">
        <a href="#">↓</a>
        <ul class="dropdown">
          <li>
            <a href="/throw_500">Throw 500 err</a>
          </li>
          <li>
            <a href="/test">Count test</a>
          </li>
          <li>
            <a href="/capturing/oh no!">Capture test</a>
          </li>
        </ul>
      <li>

      <li class="has-dropdown">
        <a class="theme-circle" href="#"></a>
        <ul class="dropdown">
          <li>
            <a id="set-theme-ice" class="theme-circle before-margin ice" href="#">Ice</a>
          </li>
          <li>
            <a id="set-theme-sol" class="theme-circle before-margin sol" href="#">Sol</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  [footer]
</body>

</html>
